/*Header Code*/
.jumbotron {
	background-image: url("header-flourish.png");
	background-color: white;
	background-size: 100%;
	background-repeat: no-repeat;
	margin: auto;
}

	h1 {
		font-family: 'Poiret One', cursive;
		padding: 2% 5%;
	}

	.emphasis {
		font-size: 1.25em;
		font-family: 'Courgette', cursive;
	}

	.big-emphasis {
		font-size: 2em;
		font-family: 'Courgette', cursive;
	}

	byline {
		font-size: 1.75em;
		font-family:'Poiret One', cursive;
		color: rgb(168, 138, 178);
		border-bottom: 2px solid rgba(245, 255, 222, 0.5);
	}

/*Story Code*/

p {
	font-size: 23px;
	font-family: 'Arapey', serif;
}

p:first-child:first-letter {
	color: rgb(168, 138, 178);
	font-family: 'Courgette', cursive;
	font-size:50px;
	float: left;
	padding-right:8px;
	line-height: 50px;
}

blockquote {
	font-size: 35px;
	font-family: 'Courgette', cursive;
	color: rgb(168, 138, 178);
}

/*
Font story:
Accent: font-family: 'Courgette', cursive;
Sans-Serif: font-family: 'Poiret One', cursive;
Serif: font-family: 'Arapey', serif;*/

/*
Color Story:
Soft green: rgba(205, 235, 139, 0.6)
Nearly white green: rgba(245, 255, 222)
bolder green: rgba (198, 255, 73)
darker purple: rgba (168, 138, 178)
lighter purple: rgba (240, 198,, 255)
;*/
